In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pyarrow.parquet as pq
from time import time
import os
import sys

## DB connection

In [2]:
engine = create_engine(f"postgresql://root:root@localhost:5432/taxi")
engine.connect()

Question 3

In [3]:
query = """

SELECT *
FROM homework
WHERE trip_distance <= 1;
"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
len(filtered_df)

104838

In [4]:
df = pd.read_csv('data/green_tripdata_2019-10.csv')

/var/folders/s8/tqf9wz192kn1c457rshvhg440000gn/T/ipykernel_71662/3307007591.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/green_tripdata_2019-10.csv')

In [5]:
filtered_df = df[
    (df['lpep_pickup_datetime'] >= '2019-10-01') &
    (df['lpep_pickup_datetime'] < '2019-11-01') &
    (df['trip_distance'] <= 1)  # Trips up to 1 mile
]

# Count the number of trips
trip_count = filtered_df.shape[0]
trip_count

104830

In [6]:
query = """

SELECT *
FROM homework
WHERE trip_distance  >1
  AND trip_distance <=3
"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
len(filtered_df)

199013

In [7]:
query = """

SELECT *
FROM homework
WHERE trip_distance  >3
  AND trip_distance <=7
"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
len(filtered_df)

109645

In [8]:
query = """

SELECT *
FROM homework
WHERE trip_distance  >7
  AND trip_distance <=10
"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
len(filtered_df)

27688

In [9]:
query = """

SELECT *
FROM homework
WHERE trip_distance  >10
"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
len(filtered_df)

35202

Question 4

In [10]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [11]:
query ="""
SELECT 
    DATE(lpep_pickup_datetime) AS pickup_date, 
    MAX(trip_distance) AS trip_distance
FROM 
    homework
GROUP BY 
    DATE(lpep_pickup_datetime)
ORDER BY 
    trip_distance DESC
LIMIT 1;"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
filtered_df

  pickup_date  trip_distance
0  2019-10-31         515.89

Question 5

In [12]:
query = """
SELECT 
    z."Zone" AS pickup_zone,
    SUM(h.total_amount) AS total_amount
FROM 
    homework h
JOIN 
    zones z
    ON h."PULocationID" = z."LocationID"
WHERE 
    DATE(h.lpep_pickup_datetime) = '2019-10-18'
GROUP BY 
    z."Zone"
HAVING 
    SUM(h.total_amount) > 13000
ORDER BY 
    total_amount DESC
"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
filtered_df

           pickup_zone  total_amount
0    East Harlem North      18686.68
1    East Harlem South      16797.26
2  Morningside Heights      13029.79

Question 6

In [24]:
query = """
SELECT 
    z_drop."Zone" AS dropoff_zone,
    MAX(h.tip_amount) AS largest_tip
FROM 
    homework h
JOIN 
    zones z_pickup
    ON h."PULocationID" = z_pickup."LocationID"
JOIN 
    zones z_drop
    ON h."DOLocationID" = z_drop."LocationID"
WHERE 
    z_pickup."Zone" = 'East Harlem North'
    AND DATE(h.lpep_pickup_datetime) BETWEEN '2019-10-01' AND '2019-10-31'
GROUP BY 
    z_drop."Zone"
ORDER BY 
    largest_tip DESC
LIMIT 1;
"""
with engine.connect() as connection:
    filtered_df = pd.read_sql(query, con=connection)
filtered_df

  dropoff_zone  largest_tip
0  JFK Airport         87.3